.footer-anchor{
    text-align: center;
}
.footer-anchor a i{
  font-size: 50px;
  margin-left: 2%;
  margin-right: 2%;
  color: tomato;
  transition: 1s;
}
.footer-anchor a i:hover{
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-anchor{
        text-align: center;
    }
    .footer-anchor a i{
      font-size: 50px;
      margin-left: 2%;
      margin-right: 2%;
      color: tomato;
  }

  }